{% extends 'base.html' %}

{% block start %}

<nav class="navbar bg-body-tertiary bd-danger shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            Hello, 
            <strong>
                {{request.user.username}}
            </strong>
        </a>
        <form class="d-flex" role="search">
            {% if request.user.is_authenticated %}
            <a href="/logout/" class="btn btn-success" type="submit">logout</a>
            {% else %}
            <a href="/login/" class="btn btn-success" type="submit">login</a>
            {% endif %}
        </form>
    </div>
</nav>


<div class="container mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Books</h2>
        <hr>
        <div class="form-group">
            <label for="exampleInputEmail1">title</label>
            <input type="text" name="title" required class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Author</label>
            <input type="text" name="author" required class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Published date</label>
            <input type="date" name="published_date" required class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input type="text" name="price" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Add books</button>
    </form>
    
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published Date</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.published_date}}</td>
                <td>$. {{book.price}}</td>
                <td>
                    <a href="/delete-book/{{book.id}}" class="btn btn-danger m-2">delete</a>
                    <a href="/update-book/{{book.id}}" class="btn btn-success">update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}