{% extends "base.html" %}
{% block title %}
Add Receipe
{% endblock title %}
{% block start %}

<div class="container d-flex justify-content-center align-items-center mt-2 min-vh-100">
    <form class="col-6 p-4 shadow-lg" method="POST" enctype="multipart/form-data"
        style="background-color: rgba(255, 255, 255, 0.9); backdrop-filter: blur(5px); border-radius: 20px;">
        {% csrf_token %}
        <h2 class="text-center mb-3" style="font-weight: bold; color: #FE724c;">Add Recipe</h2>
        <hr color="black" style="color: rgb(0, 0, 0);">

        <div class="mb-3">
            <label for="recipe_name" class="form-label">Recipe Name</label>
            <input name="recipe_name" type="text" class="form-control" placeholder="Recipe Name" required>
        </div>

        <div class="mb-3">
            <label for="recipe_ingridents" class="form-label">Ingredients Required</label>
            <textarea class="form-control" name="recipe_ingridents" placeholder="Ingredients Required"
                required></textarea>
        </div>

        <div class="mb-3">
            <label for="recipe_description" class="form-label">Recipe Description</label>
            <textarea class="form-control" name="recipe_description" placeholder="Recipe Description"
                required></textarea>
        </div>

        <div class="mb-3">
            <label for="instructions" class="form-label">Instructions</label>
            <textarea class="form-control" name="instructions" placeholder="Instructions" required></textarea>
        </div>

        <div class="mb-3">
            <label for="cooking_time" class="form-label">Cooking Time (minutes)</label>
            <input name="cooking_time" type="number" placeholder="Cooking Time (minutes)" class="form-control" required>
        </div>

        <!-- Category Dropdown -->
        <div class="mb-3">
            <label for="category" class="form-label">Recipe Category</label>
            <select name="category" class="form-control" required>
                {% for value, label in CATEGORY_CHOICES %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="mb-3">
            <label for="recipe_image" class="form-label">Recipe Image</label>
            <input type="file" name="recipe_image" class="form-control">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn" style="background-color: #FE724c; color: white; border-radius: 8px;">Add
                Recipe</button>
        </div>
        <br>

        <div class="mb-3 d-grid gap-2 col-6 mx-auto text-center">
            <a href="/viewrecipe/">
                <button type="button" class="btn "
                    style="border-radius: 8px; background-color: #FE724c;color: white;">View Recipes</button>
            </a>
        </div>
    </form>
</div>

{% endblock %}